.blogpost-blogpost {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 3%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.blogpost-container {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 0%;
  justify-content: flex-start;
}
.blogpost-text {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-family: "Inter Tight";
  font-weight: 400;
  margin-right: 8%;
}
.blogpost-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.blogpost-text1 {
  align-self: center;
  font-family: "Inter Tight";
  margin-left: 4%;
}
.blogpost-container1 {
  flex: 0 0 auto;
  width: 20%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 6%;
  justify-content: flex-end;
}
.blogpost-icon {
  width: 24px;
  height: 24px;
}
.blogpost-image1 {
  width: 100%;
  object-fit: cover;
  padding-left: 5%;
  padding-right: 5%;
}
@media(max-width: 479px) {
  .blogpost-container {
    margin-left: 0%;
    flex-direction: column;
  }
  .blogpost-text {
    margin-right: 0%;
  }
  .blogpost-image {
    align-self: center;
  }
  .blogpost-text1 {
    margin-top: 2%;
    margin-left: 0%;
  }
  .blogpost-container1 {
    height: 100%;
    margin-top: 2%;
    margin-left: 0%;
    justify-content: center;
  }
}
